/* Card.css */

.card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7); /* 使用 rgba() */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  width: auto;
  height: 120px; /* 高度 */
  perspective: 1000px; /* 設置透視效果 */
  cursor: pointer; /* 顯示點擊的手型游標 */
}

.index {
  /* 設絕對位置為右下角 */
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0;
}

.card-front.card-back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-front {
  background-color: rgb(255, 227, 227);
  opacity: 1;

}
.card-back {
  transform: rotateY(-180deg);  /*先轉*/
  /* transform-origin: right; 從右側進行反轉，使內容正確顯示 */
  background-color: rgb(245, 227, 255);
  opacity: 0;
}

/* 當flipped */
.card.flipped .card-back {
  transform: rotateY(0);
  opacity: 1;
}
.card.flipped .card-front {
  transform: rotateY(180deg);
  opacity: 0;
}

/* 動畫效果 */
/* @keyframes flipCard {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.card.flipped {
  animation: flipCard 0.3s ease;
} */
