/* Card.css */

.card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7); /* 使用 rgba() */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  width: auto;
  height: 120px; /* 高度 */
  perspective: 1000px; /* 設置透視效果 */
  cursor: pointer; /* 顯示點擊的手型游標 */
}

.index {
  /* 設絕對位置為右下角 */
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0;
}

/* 背面 */
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: visible;
  transform: rotateY(180deg);
  transform-origin: right; /* 從右側進行反轉，使內容正確顯示 */
  background-color: rgb(187, 187, 187);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card.flipped .card-back {
  opacity: 1;
}

/* 正面 */
.card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgb(244, 244, 244);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.card.flipped .card-front {
  opacity: 0;
}

/* 動畫效果 */
@keyframes flipCard {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.card.flipped {
  animation: flipCard 0.3s ease;
}
