/* Card.css */

.card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7); /* 使用 rgba() */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  width: auto;
  height: 120px; /* 高度 */
  perspective: 1000px; /* 設置透視效果 */
  cursor: pointer; /* 顯示點擊的手型游標 */

  transition: .3s;
}

.index {
  /* 設絕對位置為右下角 */
  position: absolute; 
  bottom: 5px; 
  right: 5px; 
  margin: 0; 
}

/* 背面隱藏 */
.card-back{
  transform: rotateY(180deg); /* 翻轉180度 */
  display:none;
}
/* 翻轉180 */
.card.flipped {
  transform: rotateY(180deg); /* 翻轉180度 */
}

.card.flipped .card-front {
  display: none; /* 隱藏正面 */
}

.card.flipped .card-back {
  display: block; /* 顯示背面 */
  transform: rotateY(180deg); /*記得要轉*/
}

